<%- include('../includes/top.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="container">
    <ul>
        <% students.forEach(student => { %>
        <li><%= student.name%></li>
        <% }) %>
    </ul>
</div>
<%- include('../includes/bottom.ejs') %>
